{% extends 'home/base.html' %}
{% load static %}
{% block title %}About Us{% endblock title %}
{% block main-content %}

<section class="inner-page">
<section id="about" class="about">
<div class="container">
<center>
<img src="{% static 'home/assets/img/logo.jpg' %}" >
</center>
<br>
<br>
<br>
<h1 align="center"><b>ABOUT US<b></h1>
<center>
<p>Today, Kenstar is a name that stands for quality, style & durability. Kenstar products have delighted customers across the globle.<br>
With an all indian sales & services network and presence in more than 20,000 retail touch points, we enjoy being one of the most<br>
preferred premium brands in the country.<br>Today's lifestyle is the prefect blend of work, life, play, party, friends & family.<br>
Understanding this emerging lifestyle, we strive to simplify and enrich the lives of our customers with our contemporary range<br>
Kitchen Home Appliances.<br>So that you can reduce montony, give each day a fresh star and 'Live The Ken Lifestyle'<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h1><b>Why Kenstar ?</b></h1>
<br>
<br>
<h1><b><em>Technology</b></h1><em><br>
Kenstar offers technologically advanced features for<br>better performance and opens-up a world of comfort & ease.<br>
<br>
<br>
<br>
<br>
<h1><b><em>Quality</b></h1><em><br>
Keeping extensive and stringent quality checks, kenstar has raised the<br>Industry yardstick with its high performance, durable & stylish products.<br>
<br>
<br>
<br>
<br>
<b>
<h1><b><em>Service</b></h1><em><br>
In an effort to bring world-class service standards, Kenstar has 350+ Service Centers & Franchises across India.<br>
<br>
<br>
<br>
<br>
</p>
</center>
</div>
</section>


{% endblock main-content %}